.table {
  width: 80%;
  margin-bottom: 20px;
  border: 15px solid #f2f8f8;
  border-top: 5px solid #f2f8f8;
  border-collapse: collapse;
  font-family: "Arial", Courier, monospace;
}
.table th {
  font-weight: bold;
  padding: 5px;
  background: #f2f8f8;
  border: none;
  border-bottom: 5px solid #f2f8f8;
}
.table td {
  padding: 15px;
  border: none;
  border-bottom: 5px solid #f2f8f8;
  text-align: center;
}
.start-btn {
  padding: 10px;
  font-size: 16px;
  margin-left: 20px;
}
#Filter {
  padding: 10px;
  font-size: 16px;
  margin: 30px;
  margin-top: 10px;
  /* align-self: auto; */
}
.basis {
  background-color: #1e90ff;
  color: white;
}
.pink {
  background-color: pink;
}
